*{
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: 'Times New Roman' serif;
}
.containerrealisation .banniere{
    background-image: url(https://img.freepik.com/free-photo/portrait-young-beautiful-woman-gesticulating_273609-40360.jpg?size=626&ext=jpg&ga=GA1.1.410106095.1694595730&semt=ais);
    background-repeat: no-repeat;
    background-size: cover;
    height: 75vh;
    background-position: center;
    color: white;
    text-align: center;
    padding-top: 10%;
    margin-top: 8%;
}
.containerrealisation .banniere .retour{
    color: white;
    text-decoration: none;
    float: left;
    margin-top: 8%;
    margin-left: 3%;
}
.containerrealisation .blocrealisation{
    /* border: 1px solid red; */
    width: 80%;
    height: auto;
    margin: 2% auto;
    text-align: center;


}
.containerrealisation .blocrealisation .input{
    float: right;
    width: 30%;
}
.containerrealisation .blocrealisation .input input{
    border: 1.5px solid #3e3e3e;
    width: 100%;
    border-radius: 100px;
    position: relative;
}
.containerrealisation .blocrealisation .input  i{
    position: absolute;
    right: 11.5%;
    z-index: 1;
    margin-top: 0.5%;
}
.containerrealisation .blocrealisation .realisation{
    /* border: 2px solid green; */
    width: 100%;
    padding-top: 5%;
}
.containerrealisation .blocrealisation .realisation .toprealisation{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2%;
    
}
.containerrealisation .blocrealisation .realisation .toprealisation .port{
    width: 92%;
    margin: 0 auto;
}
.containerrealisation .blocrealisation .realisation .toprealisation .port3{
    width: 92%;
    height: 29vh;
    margin: 0 auto;
}
.containerrealisation .blocrealisation .realisation .middlerealisation{
    width: 100%;
    /* border: 1px solid red; */
    margin: 3% auto;
    display: grid;
    grid-template-columns: 60% 45%;
}

.containerrealisation .blocrealisation .realisation .middlerealisation .first img{
    width: 92%;
    height: 39vh;
    /* border: 1px solid red; */
    margin-left: -3%;
}
.containerrealisation .blocrealisation .realisation .middlerealisation .second img{
    width: 82%;
    height: 39vh;
    /* border: 1px solid red; */
    margin-right: 8%;

}
.containerrealisation .blocrealisation .realisation .bottomrealisation{
    width: 100%;
    /* border: 1px solid red; */
    margin: 3% auto;
    display: grid;
    grid-template-columns:45% 60% ;   
}
.containerrealisation .blocrealisation .realisation .bottomrealisation .first img{
    width: 92%;
    height: 39vh;
    /* border: 1px solid red; */
    margin-left: -3%;
}
.containerrealisation .blocrealisation .realisation .bottomrealisation .second img{
    width: 85%;
    height: 39vh;
    /* border: 1px solid red; */
    margin-right: 5%;
}
 img:hover{
    box-shadow: 2px 2px 15px #ccc;
}
.containerrealisation .blocrealisation  .pagination{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* border: 1px solid red; */
    width: 50%;
    margin: 0 auto;
    margin-left: 30%;
}
.containerrealisation .blocrealisation  .pagination .prec{
    color: white;
    text-decoration: none;
    background-color: #d9d9d9;
    border: 2px solid #3e3e3e;
    border-radius: 100px;
    width: 35%;
    height: 5.9vh;
    padding-top: 0.5%;
}
.containerrealisation .blocrealisation  .pagination .prec i{
    border: 2px solid #3e3e3e;
    border-radius: 100%;
    padding: 12%;
    margin-left: -27%;
    background-color: #d9d9d9;
    margin-top: -8%;
}
.containerrealisation .blocrealisation  .pagination .suiv{
    color: white;
    text-decoration: none;
    background-color: #3e3e3ef8;
    border: 2px solid #3e3e3e;
    border-radius: 100px;
    width: 35%;
    height: 5.9vh;
    padding-top: 0.5%;
}
.containerrealisation .blocrealisation  .pagination .suiv i{
    border: 2px solid #3e3e3e;
    background-color: #3e3e3ef8;
    border-radius: 100%;
    padding: 12%;
    margin-top: -8%;
    margin-right: -17%;
}
.containerrealisation .blocrealisation #bloc2{
    display: none;

}
/* les medias */

@media (max-width: 768px){
    .containerrealisation .banniere{
        padding-top: 40%;
        font-size: 20px;
        margin-top: -58%;
    }

    .containerrealisation .banniere .retour{
        margin-top: 10%;
    }
    .containerrealisation .blocrealisation .realisation .toprealisation{
        display: block ;
    }
    .containerrealisation .blocrealisation .realisation .toprealisation .port{
        margin-bottom: 7%;
    }
    .containerrealisation .blocrealisation .realisation .middlerealisation{
        display: block ;
    }
    .containerrealisation .blocrealisation .realisation .middlerealisation .first{
        width: 510px ;
        margin-left: 2%;
        margin-bottom: 7%;
    }
    .containerrealisation .blocrealisation .realisation .middlerealisation .second{
        width: 570px;
        margin-top: 3%;
        margin-bottom: 7%;
    }
    .containerrealisation .blocrealisation .realisation .bottomrealisation{
        display: block ;
    }
    .containerrealisation .blocrealisation .realisation .bottomrealisation .first{
       width: 93%;
       margin-left: 2%;
       margin-top: -1%;
       margin-bottom: 7%;
    }
    .containerrealisation .blocrealisation  .pagination .prec{
        width: 70%;
        height: 4vh;
    }

    .containerrealisation .blocrealisation  .pagination .suiv{
        width: 70%;
        height: 4vh;
    }
 


}
@media (max-width: 400px){
    .containerrealisation .blocrealisation .realisation .middlerealisation .second{
        width: 400px;
        margin-top: 3%;
        margin-bottom: 7%;
    }
    .containerrealisation .blocrealisation .realisation .middlerealisation .first {
        width: 258px !important;
        margin-top: 3%;
        margin-bottom: 7%;
    }
}
@media (max-width: 480px){
    .containerrealisation .blocrealisation .realisation .middlerealisation .second{
        width: 300px;
        margin-top: 3%;
        margin-bottom: 7%;
    }
    .containerrealisation .blocrealisation .realisation .middlerealisation .first {
        width: 360px;
        margin-top: 3%;
        margin-bottom: 7%;
    }
}
@media (min-width: 481px) and (max-width: 585px) {
    .containerrealisation .banniere{
        padding-top: 40%;
        width: 100%;
       
    }  
    .containerrealisation .blocrealisation .realisation .middlerealisation .second{
        width: 495px;
        margin-top: 3%;
        margin-bottom: 7%;
    }
    .containerrealisation .blocrealisation .realisation .middlerealisation .first {
        width: 458px;
        margin-top: 3%;
        margin-bottom: 7%;
    }
}
/* pour tablette */
@media (min-width: 798px) and (max-width: 850px){
    .containerrealisation .banniere{
       /* border: 1px solid red; */
       margin-top: -50% !important;
    }
}
@media (min-width: 770px) and (max-width: 1200px) {
    .containerrealisation .banniere{
        padding-top: 40%;
        /* width: 100%; */
        margin-top: -22%;
    }
    .containerrealisation .banniere .retour{
        margin-top: 15%;
    }
    .containerrealisation .blocrealisation .realisation {
        margin: 5% auto;
        font-size: 14px;
    }
    .containerrealisation .blocrealisation .realisation .premierimage img{
        margin-top: 12% !important;
        /* border: 1px solid red; */
    }
    .containerrealisation .blocrealisation .realisation .toprealisation img{
        height: 29vh;
        width: 600px;
    }
    .containerrealisation .blocrealisation .realisation .middlerealisation .first{
        margin-top: 7%;

    }
    .containerrealisation .blocrealisation .realisation .middlerealisation .second{
        width: 300px;

    }
    .containerrealisation .blocrealisation .realisation .bottomrealisation .second img{
      margin-top: 7%;

    }
    .containerrealisation .blocrealisation  .pagination .prec{
        width: 70%;
        font-size: 20px;
    }
    .containerrealisation .blocrealisation  .pagination .suiv{
        width: 70%;
        font-size: 20px;
    }

}